body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Avenir;
  width: 100vw;
  height: 100vh;
}

a,
a:active,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: Avenir;
}

button:active,
button:visited,
button:focus,
button:hover {
  cursor: pointer;
  border: none;
  outline: none;
}

input,
input:active,
input:visited,
input:focus {
  outline: none;
  font-family: Avenir;
}

::-webkit-scrollbar {
  display: none;
}