.promptForm {
  width: 500px;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  font-family: Avenir;
  gap: 10px;
}

.promptForm .prompt-input {
  width: 90%;
  padding: 0 0.5rem;
  border-radius: inherit;
  background: none;
  border: solid 1px #a7a7a7;
}

.prompt-input::placeholder {
  font-family: Avenir;
}
