.movie_container{
  height: auto;
  width: 300px;
  display: inline-block;
  margin: 1%;
  position: relative;
  background-color: #3f3f3fb3;;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2%;
  border-radius: 5px;
  padding-right: 2%;
  padding-top: 0%;
  
  

}

.movie_img{
  width: 300px;
  border-radius: 5px;

}

.movie_headline{
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: #ff01d5d8;;
  height: 120px;
  box-sizing: border-box;
  padding: 4%;
  transition: all .4s ease;
  text-align: center;
  margin: 0%;
  margin-top: 3%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  height: 1.2em;
  white-space: nowrap;
  transition: all .4s ease;
}

.movie_headline_title{
  width: 70%;
  height: 100%;
}

.movie_container:hover .cut-text {
  text-overflow: unset;
  overflow: unset; 
  white-space: unset;
}

.movie_headline_btn, 
.movie_headline_btn:hover, 
.movie_headline_btn:focus{
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-self: flex-end;
  margin-bottom: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 1.1em;
}

.movie_container:hover .movie_headline_btn,
.movie_headline_btn--active {
  display: flex;
}