
.lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: black;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after { 
  transform: scale(1.15, 0.85); 
}
  .cbx:checked ~ label { 
  background: green; opacity: 0.8;
}
  .cbx:checked ~ label:after {
  left: 20px;
  background: green;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after { 
  background: #bcbdbc;
}
.hidden { 
  display: none;
}
.icon {
  margin-left: 0.7rem;
}