.navbar {
  z-index: 10;
  top: 0;
  height: 9vh;
  width: 100vw;
  background: linear-gradient(90deg, rgb(255 255 255) 0%, rgb(149 255 214) 45%, rgb(237 145 255) 55%, rgb(170, 1, 170) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#020024",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#020024",GradientType=1);
  padding: 0 7.5vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.navbar_logo {
  height: 100%;
}

.navbar_search{
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar_search_icon {
  height: 32%;
  margin-right: 10px;
}
