.navbar {
  z-index: 10;
  top: 0;
  height: 9vh;
  width: 100vw;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,113,32,1) 45%, rgba(26,113,32,1) 55%, rgba(2,0,36,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,113,32,1) 45%, rgba(26,113,32,1) 55%, rgba(2,0,36,1) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,113,32,1) 45%, rgba(26,113,32,1) 55%, rgba(2,0,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#020024",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#020024",GradientType=1);
  padding: 0 7.5vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar_logo {
  height: 100%;
}

.navbar_search{
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar_search_icon {
  height: 32%;
  margin-right: 10px;
}
