.prompts {
  color: var(--secondary-color);
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.prompts .unknown {
  color: var(--bg-color);
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.prompts .known {
  color: var(--secondary-color);
  background-color: var(--correct-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.prompts .guess-count {
  font-family: Avenir;
  font-weight: bold;
}
.flip-card {
  background-color: transparent;
  width: 110px;
  height: 40px;
  border-radius: 0.5rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--bg-color);
}

/* Style the back side */
.flip-card-back {
  background-color: var(--correct-color);
  color: white;
  transform: rotateX(180deg);
}
