.prompts {
  color: white;
  margin: 1rem;
  display: flex;
  gap: 1rem;
}

.prompts .unknown {
  color: black;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.prompts .known {
  color: white;
  background-color: #38a169;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.prompts .wrong {
  color: white;
  background-color: #c53030;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.prompts .guess-count {
  font-family: Avenir;
  font-weight: bold;
}
